@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid red;
  width: 20rem;
  margin: auto;
  height: 20rem;
  margin-top: 20rem;
}

.errorPage h1 {
  font-weight: 900;
  font-size: 8rem;
}

.blur-background {
  background-color: rgba(145, 138, 135, 0.5);
  backdrop-filter: blur(10px);
}